* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto';
}
.con {
    width: 1280px;
    margin: auto;
}
header nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}
header nav ul {
    display: flex;
}
.suz1{
    margin: 0 40px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #3F3B3D;
}
.suz2{
    margin: 0 40px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #3F3B3D;
}
.suz3{
    margin: 0 40px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #3F3B3D;
}
.suz4{
    margin: 0 40px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #3F3B3D;
}
.suz5{
    margin: 0 40px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #3F3B3D;
}
header nav ul li a button {
    margin: 0 40px 0 0;
    height: 42px;
    width: 114px;
    left: 0px;
    top: 0px;
    border-radius: 3px;
    border: 1px solid #dddbda ;
    background: #DDDBDA;
    border-radius: 3px;
}
.suzk1 {
    display: flex;
    margin-top: 10px;
}
.div {
    display: flex;
    margin: 10px 0 0 0;
}
.div img {
    height: 17px;
    width: 17px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin: 0 10px 0 0;
}
.o {
    padding: 1px 6px;
    background-color: #3F3B3D;
    border-radius: 50%;
    color: white;
}
.img {
    margin: 10px 0 0 0 ;
}
.divr {
    width: 512px;
    height: 482px;
    margin: 80px 0 0 0;
    background: #3F3B3D;
    padding: 0 0 0 64px;
}
.divr2 {
    height: 562px;
    width: 768px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-image: url('./kattarasm.png');
}
.df {
    display: flex;
}
.p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 42px;
    margin: 260px 0 0 0;
    color: #FFFFFF;
    height: 85px;
    width: 370px;
}
.suzk button {
    height: 45px;
    width: 178px;
    left: 0px;
    top: 0px;
    border-radius: 3px;
    background: #F14814;
    border: 1px solid #F14814;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 28px 0 0 0;
}
.suzk {
    display: flex;
}
.suzk p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 40px 0 0 34px;
}
main {
    margin: 20px 0 0 0;
}
.divt {
    text-align: center;
    margin: 63px 0 0 0;
}
.divt p:nth-of-type( 1 ) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    color: #F14814;
    margin: 0 0 16px 0;
}
.divt p:nth-of-type( 2 ){
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #3F3B3D;
    height: 112px;
    width: 700px;
    left: 290px;
    margin: auto;
}
.divr5 {
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
    width: 900px;
}
.divr5 .k1 {
    width: 340px;
    height: 161px;
    text-align: center;
}
.k1 p:nth-of-type(2){
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #3F3B3D;
}
.k1 p:nth-of-type(1){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #3F3B3D;
    margin: 0 0 11px 0;
}
.divr5 .k2 {
    width: 340px;
    height: 161px;
    text-align: center;
}
.k2 p:nth-of-type(2){
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #3F3B3D;
}
.k2 p:nth-of-type(1){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #3F3B3D;
    margin: 0 0 11px 0;
}
.divr5 .k3 {
    width: 340px;
    height: 161px;
    text-align: center;
}
.k3 p:nth-of-type(2){
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #3F3B3D;
}
.k3 p:nth-of-type(1){
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #3F3B3D;
    margin: 0 0 11px 0;
}
.l1 {
    background-image: url('./tuxum.png');
    height: 421px;
    width: 421px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin: 0 2px 0 0;
}
.l1 img {
    margin: 375px 0 0 12px;
}
.suz4 {
    display: flex;
    justify-content: space-between;
}
.suzb {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #3F3B3D;
    margin: 11px 0 0 12px;
}
.b{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #3F3B3D;
    margin: 11px 0 0 0;
}
.l2 {
    background-image: url('./boom.png');
    height: 421px;
    width: 421px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}
.l2 img {
    margin: 375px 0 0 12px;
}
.l3 {
    background-image: url('./ananas.png');
    height: 421px;
    width: 421px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    margin: 0 0 0 2px;
}
.l3 img {
    margin: 375px 0 0 12px;
}
.bor1 {
    background-image: url('./rasm1.png');
    height: 477px;
    width: 636px;
    border-radius: 0px;
    margin: 10px 0 0 0;
    box-shadow: inset 0px 0px 1000px black;
}
.bor1 p:nth-of-type(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 44px;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    text-align: center;
    padding: 379px 0 0 0;
}
.bor1 p:nth-of-type(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    margin: 12px 0 0 0;
}
.bor2 {
    background-image: url('./rasm2.png');
    height: 477px;
    width: 636px;
    border-radius: 0px;
    box-shadow: inset 0px 0px 1000px black;
    margin: 10px 0 0 10px;
}
.bor2 p:nth-of-type(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 44px;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    text-align: center;
    padding: 379px 0 0 0;
}
.bor2 p:nth-of-type(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    margin: 12px 0 0 0;
}
.hamma {
    background: #F8F9FA;
    width: 100%;
    margin: 64px 0 0 0;
}
.suzs {
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #3F3B3D;
    padding: 128px 0 0 0;
}
.kich1 {
    background-image: url('./yigit.png');
    height: 536px;
    width: 536px;
    margin: 31px 8px 0 100px;
}
.kich2 {
    height: 536px;
    width: 536px;
    text-align: center;
    background: #DCEAE9;
    margin: 31px 0 0 0;
}
.kich2 p:nth-of-type( 1 ) {
    height: 128px;
    width: 408px;
    margin: 204px 64px 0 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #3F3B3D;
}
.kich2 p:nth-of-type( 2 ) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #3F3B3D;
    margin: 29px 0 0 0;
}

.suzlar1 {
    text-align: center;
    width: 246px;
    height: 101px;
    margin: 0 98px 0 0;
}
.suzlar1 p:nth-of-type(2){
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #3F3B3D;
    margin: 18px 0 0 0;
}
.suzlar1 p:nth-of-type(1) {
    font-weight: 900;
    font-size: 30px;
}
.suzlar2 p:nth-of-type(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #3F3B3D;
    margin: 18px 0 0 0;
}
.suzlar2 {
    text-align: center;
    width: 246px;
    height: 101px;
    margin: 0 98px 0 0;
}
.suzlar3 p:nth-of-type(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #3F3B3D;
    margin: 18px 0 0 0;
}
.suzlar3 {
    text-align: center;
    width: 246px;
    height: 101px;
    margin: 0 98px 0 0;
}
.suzlar4 p:nth-of-type(1) {
    font-weight: 900;
    font-size: 30px;
}
.suzlar4 p:nth-of-type(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #3F3B3D;
    margin: 18px 0 0 0;
}
.suzlar4 {
    text-align: center;
    width: 246px;
    height: 101px;
}
.hamma2 {
    padding: 64px 0 64px 0;
}







.suzkup1 {
    background-image: url('./maqtanchoq.png');
    height: 654px;
    width: 508px;
}
.gap1 {
    height: 218px;
    width: 476px;
    background: white;
    position: relative;
    top: 420px;
    left: 16px;
}
.gap1 p:nth-of-type(1) {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #5D6E67;
    padding: 31px 0 0 0;
}
.gap1 p:nth-of-type(2){
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #3F3B3D;
    height: 58px;
    width: 407px;
    margin: 2px 0 0 30px;
}
.gap1 p:nth-of-type(3) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #3F3B3D;
    margin: 6px 0 0 2px ;
}
.gap1 p:nth-of-type(4) {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #3F3B3D;
    margin: 9px 0 0 0;
}
.suzm p:nth-of-type(1){
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 56px;
    text-transform: uppercase;
    color: #3F3B3D;
}
.suzm p:nth-of-type(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #3F3B3D;
    margin: 14px 0 0 0;
}
.b2 p:nth-of-type(1){
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #5D6E67;
}
.b2 p:nth-of-type(2) {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #3F3B3D;
}
.b2 p:nth-of-type(3) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #3F3B3D;
    height: 43px;
    width: 291px;
    margin: 6px 0 0 0;
}
.b2 {
    margin: 0 0 0 32px;
}
.block1 {
    display: flex;
    margin: 185px 0 0 0;
}
.block2 {
    display: flex;
    margin: 15px 0 0 0;
}
.block3 {
    display: flex;
    margin: 15px 0 0 0;
}
.qator2 {
    margin: 0 0 0 64px;
}
.hamma8 {
    margin: 64px 0 0 0;
}













.write1 {
    padding: 96px 0 32px 0;
}
.write1 p{
    font-weight: 400;
    font-size: 29px;
    color: #FFFFFF;
    width: 320px;
    text-transform: uppercase;
}
.w100 {
    width: 100%;
    justify-content: space-between;
    display: flex;
}


footer {
    background: #3F3B3D;
    margin: 64px 0 0 0;
}


.katta3 {
    margin: 67px 0 0 0;
}


.kam1 p{
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    height: 64px;
    width: 438px;
}
.kam1 img{
    margin: 67.33px 144px 0 0 ;
}


.kam2 p:nth-of-type(1){
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.kam2 p:nth-of-type(2) {
    color: #FFFFFF;
    margin: 15px 120px 0 0;
    font-size: 16px;
    font-weight: 400;
}
.kam2 p:nth-of-type(3) {

    font-size: 16px;
    font-weight: 400;
    margin: 3px 0 0 0;
    color: #FFFFFF;
}
.kam2 p:nth-of-type(4) {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 3px 0 0 0;
}
.kam2 p:nth-of-type(5) {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 3px 0 0 0;
}


.kam3 p:nth-of-type(1){
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.kam3 p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 15px 146px 0 0;
    font-size: 16px;
    font-weight: 400;
}
.kam3 p:nth-of-type(3) {
    font-size: 16px;
    font-weight: 400;
    margin: 3px 0 0 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.kam3 p:nth-of-type(4) {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 3px 0 0 0;
}
.kam3 p:nth-of-type(5) {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 3px 0 0 0;
}
.kam3 p:nth-of-type(6) {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin: 3px 0 0 0;
}


.kam4 p:nth-of-type(1){
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.kam4 p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 15px 0 0 0;
}
.kam4 p:nth-of-type(3) {
    font-size: 16px;
    font-weight: 400;
    margin: 3px 0 0 0;
    color: #FFFFFF;
}
.kam4 p:nth-of-type(4) {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 3px 0 0 0;
}
.kam4 p:nth-of-type(5) {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 3px 0 0 0;
}
.kam4 p:nth-of-type(6) {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin: 3px 0 0 0;
}



.z1 {
    display: flex;
    padding: 85.67px 0 31px 0;
}
.z1 p:nth-of-type(1) {
    color: #FFFFFF;
    font-weight: 400;
    height: 22px;
    width: 170px;
}
.z1 p:nth-of-type(2) {
    font-weight: 400;
    color: #F14814;
}


#im1 {
    margin: 53px 0 0 0;
}